@font-face {
   font-family: 'P22NudgewinkPro-Regular';
   font-display: swap;
   src: url('file:///C:/Users/HJ%20Andrade/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-26_172447/fonts/P22NudgewinkPro-Regular/font.ttf');
}
