@font-face {
   font-family: 'P22NudgewinkPro-Regular';
   font-display: swap;
   src: url('file:///C:/Users/HJ%20Andrade/Documents/SITIO%20WEB%20PASTELERIA%20FLORI/fonts/P22NudgewinkPro-Regular/font.ttf');
}
